<h2><center><%=params[:q].upcase%></center></h2>

<%= line_chart [
  {name: "Violent Crime", data: @violent_hash},
  {name: "Property Crime", data: @property_hash},
  {name: "Drug Abuse Violations", data: @drug_hash}
  ], 
  min: 0, xtitle: "Year", ytitle: "Per Capita (per 100,000)", height: "600px", width: "1200px" %>

<ul><b>Violent crime:</b> murder and non-negligent manslaughter, forcible rape, robbery, and aggravated assault</ul>
<ul><b>Property crime:</b> burglary, larceny-theft, motor vehicle theft, and arson</ul>
<ul><b>Drug abuse violations:</b> sale and possession of heroin or cocaine and their derivatives, synthetic or manufactured drugs, marijuana, and other dangerous nonnarcotic drugs</ul>
