<h1>Page#index</h1>
<p>Find me in app/views/page/index.html.erb</p>

<h2>Search for data (2012 arrests table and states table) related to a state!</h2>
<br>
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit") %>
<% end %>
