// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* General */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  margin: 0;
}

select{
  border-color: transparent;
}
input{
  border:none;
  border-radius: 0px;
  color: #fff;
  background-color: #888;
  padding-left: 7px;
  padding-right: 7px;
}
body {
  //background-image: url('http://wallpapercave.com/wp/h3u2qag.jpg');
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: #27ae60;
}

h1, h2, h3, h4{
  color: #fff;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
}

.text{
  color: #404040;
  font-weight: 200;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 960px;
}

#header{
  margin-bottom: 30px;
}

.dropdown{
  margin-bottom: 35px;
}

.console{
  background-color: #2ecc71;
  padding-bottom:20px;
  padding-top:20px;
}

.back_button{
  margin-top: 20px;
}

.partial_header{
  margin-bottom: 0px;
  color: #d35400;
  font-weight: 200;
  padding-left:5px;
  padding-right:5px;
}

.hi_lo{
  color: #5e21b2;
  font-weight: 200;
  padding-left:3px;
  padding-right:3px;
}

.home_button{
  font-size: 20px;
  background-color: #27ae60;
}

.home_button:hover{
  background-color: #27ae60;
  color: #fff;
}

.rank_table{
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  th{
    font-weight:200;
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding-bottom:10px;
    text-decoration : underline;
  }
  td{
    font-weight:200;
    font-size: 25px;
    padding-bottom:5px;
  }
}

.right_pad{
  padding-right:20px;
}

.hide_index{
  color:transparent;
}

.main
/* Main */
.main {
  color: #fff;
  position: relative;
  top: 100px;
  text-align: center;
}

.main h1 {
  font-size: 80px;
  font-weight: 300;
}

.main p {
  font-size: 30px;
}

@media screen and (max-width: 800px) {
    body {
        background-size: auto 100%;
    }
    .container {
        width: 100%;
    }
}